@page
@model PlantasModel
@{
    ViewData["Title"] = "Plantas";
}

<div class="text-center">
    <h1 class="display-4">Plantas</h1>
    <p>Em construção... <a href="https://github.com/ZeFurtado/CSharp">github.com/ZeFurtado/CSharp</a>.</p>
</div>