@page
@model PlantasModel
@{
    ViewData["Title"] = "Plantas";
}

<h2>Lista de Plantas</h2>>
<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
    </tr>
    @foreach (var plantas in Model.Plantas)
    {
        <tr>
            <td>@plantas.Id</td>
            <td>@plantas.Nome</td>
            <td>@plantas.Preco</td>
        </tr>
    }
</table>